@font-face {
    font-family: BebasNeue;
    src: url(/static/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/static/fonts/Montserrat-VariableFont_wght.ttf);
}

html {
    background-color: #74d3c4;
    font-family: Montserrat;
}

#title {
    font-family: BebasNeue;
    font-size: 64px;
    text-align: center;
    margin-top: 40px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: aliceblue;
    border-radius: 10px;
    margin: 0 auto;
}

#nav li {
    float: left;

    font-size: 20px;
    font-weight: bold;

    transition: 0.3s;
    cursor: pointer;
}

#nav a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

#nav li a {
    display: block;
    padding: 20px;
}

#nav li:hover {
    background-color: #51948f;
    color: #e2fffd;
}

#nav li:hover a {
    color: inherit;
}

#nav ul,
main {
    margin: 20px auto;
    width: 70%;
}

#home img {
    border-radius: 50%;
    width: 150px;
    margin: auto;
    display: block;
}

#posts {
    display: flex;
    flex-direction: column;
}

#posts a {
    color: #000000;
    text-decoration: none;
}

#about {
    float: right;
    width: 45%;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #51948f;
    color: white;
    padding: 20px;
    text-align: justify;
}

#post {
    display: flex;
    margin-bottom: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px 30px 10px 30px;
}

#post h1 {
    font-family: BebasNeue;
    font-size: 32px;
    text-align: center;
    max-width: 90%;
    margin: auto;
}

#post-circle {
    width: 80px;
    position: absolute;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #51948f;
    z-index: 1;
    margin-left: -72px;
    display: flex;
    flex-direction: column;
}

#post-circle #day {
    font-size: 10px;
}

#post-circle #month {
    font-family: BebasNeue;
    font-size: 30px;
}

#post-circle #year {
    font-size: 13px;
}

#post-content {
    word-wrap: break-word;
}

#post-inner {
    display: inline-block;
    width: 100%;
}

#tags {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #51948f;
}

#blog_post {
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
}

#blog_content {
    padding: 30px;
    margin: auto;
    width: 75%;
}

#blog_content h1 {
    text-align: center;
    font-family: BebasNeue;
    font-size: 52px;
}

#experience h1 {
    font-family: BebasNeue;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
}

#education-bubble {
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px 35px 10px 45px;
    color: #000000;
}

#education-bubble h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
}

#education-inner {
    width: 100%;
}

#projects {
    border-radius: 5px;
    margin: auto;
    margin-top: 0;
    color: white;
}

#projects h1 {
    background-color: #51948f;
}

#project-bubble {
    margin: auto;
    margin-bottom: 20px;
    background-color: #51948f;
    border-radius: 5px;
    color: white;
}

.repo-card {
    color: transparent;
}

#testimonial-bubble {
    margin: auto;
    margin-bottom: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px 35px 10px 45px;
    color: #000000;
}

#testimonial-bubble h1 {
    padding: 10px;
    margin: 0;
}

#testimonial-bubble img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#testimonial-bubble a {
    color: #51948f;
    text-decoration: none;
}

#testimonial-bubble a:hover {
    color: #396868;
}

/* Swup Transitions */
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/* Mobile Devices */
@media (max-width: 480px) {
    #nav ul {
        width: 100%;
    }

    #home {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #about {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        float: none;
    }

    #posts {
        width: 100%;
        margin: auto;
    }

    #post {
        margin-top: 50px;
        justify-content: center;
    }

    #post h1 {
        margin-top: 10px;
    }

    #post-circle {
        margin: auto;
        margin-top: -72px;
    }

    #blog_post {
        width: 100%;
    }

    #experience-top {
        display: flex;
        flex-direction: column;
    }

    #education,
    #projects {
        width: 100%;
    }

    #education-inner hr {
        display: none;
    }

    #education-bubble {
        padding: 20px 35px 10px 35px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    #nav ul,
    main {
        width: 90%;
    }
}

/* Splide.JS Button Offset */
.splide__arrow--prev {
    left: -30px;
}

.splide__arrow--next {
    right: -30px;
}
