a {
    cursor: pointer;
}

#blog-header {
    text-align: center;
}

#icons {
    display: flex;
    gap: 30px;
    margin: auto;
    align-content: center;
    justify-content: center;
}

#blog-posts, #post {
    max-width: 646px;
    margin: auto;
}

#blog-posts #left {
    float: left;
    padding-right: 8px;
}

#blog-posts #right {
    float: right;
}

#blog-posts article {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    overflow: auto;
}

#blog-posts h3 {
    margin-bottom: 10px;
}

#blog-posts footer {
    margin-top: 10px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 360px) {
    #blog-posts #right {
        float: left;
        margin-top: 5px;
    }
}