<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}

    <script src="https://unpkg.com/@swup/scroll-plugin@2"></script>

    <link rel="stylesheet" href="/static/css/splide.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/github-markdown-light.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
</head>

<body>
    <h1 class="title">HU BOWEN</h1>

    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/experience">Experience</a></li>

            <li style="float: right;"><a href="https://github.com/notbowen/"><i class="fa fa-github"></i></a></li>
            <li style="float: right;"><a href="https://www.linkedin.com/in/hubowen/"><i class="fa fa-linkedin-square"></i></a></li>
            <li style="float: right;"><a href="mailto:contact@hubowen.dev"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>

    <main id="swup" class="transition-fade">
        {% block content %}
        {% endblock content %}
    </main>

    <script src="/static/js/swup.umd.js"></script>
    <script src="/static/js/splide.min.js"></script>
    <script src="/static/js/repo-card.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>