{% extends "base.html" %}
{% block title %}Experience{% endblock title %}

{% block content %}
    <div id="experience-top">
        <div id="education">
            <!-- Education Section -->
            <h1>My Education</h1>
            <div id="education-path">
                <div id="education-bubble">
                    <div id="education-circle">
                        <span><strong>2023</strong></span>
                        <span>to</span>
                        <span><strong>2026</strong></span>
                    </div>
                    <div id="education-inner">
                        <h1>Ngee Ann Polytechnic</h1>
                        <hr>
                        <p>Diploma in Cybersecurity & Digital Forensics</p>
                        <p>Member of NullSec & Overflow (Student Interest Club)</p>
                    </div>
                </div>

                <div id="education-bubble">
                    <div id="education-circle">
                        <span><strong>2019</strong></span>
                        <span>to</span>
                        <span><strong>2022</strong></span>
                    </div>
                    <div id="education-inner">
                        <h1>Clementi Town Secondary School</h1>
                        <hr>
                        <p>Distinction in Math & Physics</p>
                        <p>National Cadet Corps</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="projects">
            <!-- Skills Section -->
            <h1>My Projects</h1>

            <div id="project-bubble">
                <a class="repo-card" data-repo="notbowen/RustBlog" href="https://github.com/notbowen/RustBlog"></a>
            </div>

            <div id="project-bubble">
                <a class="repo-card" data-repo="notbowen/SimpleOS" href="https://github.com/notbowen/SimpleOS"></a>
            </div>
        </div>
    </div>
    
    <div id="testimonials">
        <!-- Testimonials -->
        <!-- TODO: Make testimonial carousell -->
    </div>
{% endblock content %}