{% extends "base.html" %} {% block title %}Experience{% endblock title %} {%
block content %}
<div class="splide">
    <div class="splide__track">
        <div class="splide__list" id="experience">
            <div class="splide__slide">
                <div id="education">
                    <!-- Education Section -->
                    <h1>My Education</h1>
                    <div id="education-path">
                        <div id="education-bubble">
                            <div id="education-inner">
                                <h1>Ngee Ann Polytechnic</h1>
                                <p id="tags">
                                    <strong
                                        ><i class="fa fa-graduation-cap"></i>
                                        2023 to 2026</strong
                                    >
                                </p>
                                <hr />
                                <p>
                                    Diploma in Cybersecurity & Digital Forensics
                                </p>
                                <p>
                                    Member of NullSec & Overflow (Student
                                    Interest Club)
                                </p>
                            </div>
                        </div>

                        <div id="education-bubble">
                            <div id="education-inner">
                                <h1>Clementi Town Secondary School</h1>
                                <p id="tags">
                                    <strong
                                        ><i class="fa fa-graduation-cap"></i>
                                        2019 to 2022</strong
                                    >
                                </p>
                                <hr />
                                <p>Distinction in Math & Physics</p>
                                <p>National Cadet Corps</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="splide__slide">
                <div id="projects">
                    <!-- Skills Section -->
                    <h1>My Projects</h1>

                    <div id="project-bubble">
                        <a
                            class="repo-card"
                            data-repo="notbowen/RustBlog"
                            href="https://github.com/notbowen/RustBlog"
                        ></a>
                    </div>

                    <div id="project-bubble">
                        <a
                            class="repo-card"
                            data-repo="notbowen/SimpleOS"
                            href="https://github.com/notbowen/SimpleOS"
                        ></a>
                    </div>

                    <div id="project-bubble">
                        <a
                            class="repo-card"
                            data-repo="notbowen/CanteenQueueEstimater"
                            href="https://github.com/notbowen/CanteenQueueEstimater"
                        ></a>
                    </div>

                    <div id="project-bubble">
                        <a
                            class="repo-card"
                            data-repo="notbowen/Kattis"
                            href="https://github.com/notbowen/Kattis"
                        ></a>
                    </div>
                </div>
            </div>

            <div class="splide__slide">
                <div id="testimonials">
                    <!-- Testimonials Section -->
                    <h1>Testimonials</h1>

                    <div id="testimonial-bubble">
                        <img
                            src="/static/images/mr_chia.jpg"
                            alt="Mr Chia Chun Keong"
                        />
                        <h1>Mr Chia Chun Keong</h1>
                        <p id="tags">
                            <strong>
                                <i class="fa fa-address-card-o"></i>
                                Form Teacher, Subject Teacher (Computing)
                            </strong>
                        </p>
                        <hr />
                        <p>
                            Hu Bowen is a cheerful and forward-looking student
                            with a keen eye for programming. His interest in
                            Computing started in Secondary 2 and he has never
                            looked back since then the exposure to coding in
                            using Python Turtle...
                            <a
                                href="https://notbowen.github.io/assets/images/testimonials/Sec_4_Bowen_Testimonial.pdf"
                                >Read More >>></a
                            >
                        </p>
                    </div>

                    <div id="testimonial-bubble">
                        <img
                            src="/static/images/mr_kamal.jpg"
                            alt="Mr Kamal Bin Yacob"
                        />
                        <h1>Mr Kamal Bin Yacob</h1>
                        <p id="tags">
                            <strong>
                                <i class="fa fa-address-card-o"></i>
                                Head of Department (ICT)
                            </strong>
                        </p>
                        <hr />
                        <p>
                            This letter is to appreciate the excellent work that
                            you and Aidan have put into your Computing Talent
                            Development Project. You have worked proactively and
                            tirelessly to identify a specific area of need by
                            the school, whereby students ...
                            <a
                                href="https://notbowen.github.io/assets/images/testimonials/Computing_Letter.pdf"
                                >Read More >>></a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
