{% extends "base.html" %}
{% block title %}Bowen's Blog{% endblock title %}

{% block content %}
<section>
    <hgroup id="blog-header">
        <h1>Bowen's Blog</h1>
        <h2>A blog written in <a href="https://www.rust-lang.org/">Rust</a> and <a href="https://surrealdb.com/">SurrealDB</a></h2>
    </hgroup>

    <div id="blog-posts">
        {% for post in posts %}
        <a href="/posts/{{post.post_id}}">
            <article>
                <h3>{{post.title}}</h3>
                <hr>
                <div id="left">{{post.posted}}, {{post.estimated_reading_time}} Min Read</div>
                <div id="right">
                    {% for tag in post.tags | split(pat=",") %}
                        <code>{{tag}}</code> 
                    {% endfor %}
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}